.title{
    font-weight: bold;
    font-size: 36px;
    line-height: 50px;
    &_font14{
        font-size: 14px;
        line-height: 21px;
    }
    &_font16{
        font-size: 16px;
        line-height: 24px;
    }
    &__font36{
        font-size: 36px;
    }
    &_font48{
        font-size:48px;

    }
}